
.modal-background{
    z-index: 10;
    position: absolute;
    top: -10%;
    left: -10%;

    width: 120%;
    height: 120%;
    background-color: rgba(29, 38, 48, 0.911);
    border: 5px solid rgb(63,249,220);
    border-radius: 1.2%;
    /* display: flex;
    flex-direction: column; */
}

.modal-title{
    font-size: 2em;
    flex-grow: 1;
}

.modal-fields{
    font-size: 1.5em;
    
}
.modal-flex{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-content: space-around;
    /* background-color: #e8f5f7; */
}

.modal-email-submit{
    flex-grow: 1;
}

.modal-submit{
    max-width: 20%;
}

.header-button{
    float: right;
}

.dw-div {
    display: flex;
    /* min-height: 100vh; */
    justify-content: center;
    align-items: center;
    background-color: #e8f5f7;
}
input[type="checkbox"] {
    width: 0;
    height: 0;
    visibility: hidden;
}
.radio-label {
    width: 500px;
    height: 150px;
    display:block;
    background-color: #477a85;
    border-radius: 100px;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0 0 20px #477a8550;
}
.radio-label::after {
    content: "";
    width: 120px;
    height: 120px;
    background-color: #e8f5f7;
    position: absolute;
    border-radius: 70px;
    top: 15px;
    left: 15px;
    transition: 0.5s;
}

input:checked + .radio-label:after {
    left: calc(100% - 10px);
    transform: translateX(-100%);
}

input:checked + .radio-label {
    background-color: #243d42;
}

.radio-label:active:after {
    width: 160px;
}
  