@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    
} */

/* li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
} */

header {
    /* position: sticky; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    /* background-color: #24252A;  */
    background-color: black;
    
}


.list-links a{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.logo {
    cursor: pointer;
    /* width: 100px; */
    background-color: white;
}

.nav__links{
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover{
    color: #0088a9
}

.cta button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;

    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button.cta:hover{
    background-color: rgba(0, 136, 169, 0.8);
}